*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.poster{
    width: 100%;
    max-height: 100px;
    object-fit: contain;
    margin-right: 10px;
    transition: transform 0.45s;

}
.posters{
    display: flex;
    overflow-x: scroll ;
    overflow-y: hidden;
    padding: 10px;

    
}
.poster:hover{
    transform: scale(1.08);
    opacity: 1;
}
.posters::-webkit-scrollbar{
    display: none;
}
.row{
    color:white
}

.banner{
    background-image: url("../images/banner.jpg");
    height: 450px;
    background-size: cover;
    color: white;
    object-fit: contain;
}

.banner_contents{
    padding-top: 140px;
    margin-left: 30px;
    height: 190px;
    padding:130px
}
.banner_title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}
.banner_description{
    width: 55rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 14px;
    max-width: 360px;
    height: 80px;
}

.banner_buttons{
    margin-top: 20px;
    cusrsor: pointer;
    border :none;
    outline: none;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    font-weight: bold;
    border-radius: 0.2vw; 
}

.nav_logo{
    width: 80px;
    object-fit: contain;
}
.nav_avatar{
    width: 30px;
    
}
.nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}


.banner_fade{
    background: linear-gradient(180deg , transparent,rgb(3, 3, 3));
    height: 7.5rem;
    margin-top: 70px;
}